.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.factorypath
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
test-output/
bin/
nbbuild/

nbdist/
.nb-gradle/

### AO Platform server ###
logs/
dist/
deploy/
node_modules/
/.metadata/
/.metadata/
package-lock.json

#build files
/custom-ui/build.json
